<div class="text-center">
    <div class="col-md-8">
        <!--items for sale-->

    </div>
    <div class="col-md-4">
        <!--Your cart-->

    </div>
    <div class="col-md-12">
        <!--Payment options-->
        
    </div>
</div>