<button onclick="document.getElementById('id01').style.display='block'" style="width: auto;">
    Login
</button>

<div id="id01" class="modal">
    <form class="modal-content animate" action="/action_page.php" method="post">
        <div class="container">
            <label for="uname"><b>Username</b></label>
            <input type="text" placeholder="Enter Username" name="uname" required />

            <label for="psw"><b>Password</b></label>
            <input type="password" placeholder="Enter Password" name="psw" required />

            <button type="submit">Login</button>
            <label>
                <input type="checkbox" checked="checked" name="remember" /> Remember
                me
            </label>
        </div>

        <div class="container" style="background-color: #f1f1f1;">
            <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">
                Cancel
            </button>
            <span class="psw">Forgot <a href="#">password?</a></span>
        </div>
    </form>
</div>


<div id="myDIV" class="header">
    <h2 style="margin: 5px;">My shoe shopping list</h2>
    <input type="text" id="myInput" placeholder="Add an item..." />
    <span onclick="newElement()" class="addBtn">Add</span>
</div>

<div class="row">
    <div class="column" style="background-color: #aaa;">
        <h2>ADD SHOES..</h2>
        <ul id="myUL"></ul>
    </div>
    <div class="column" style="background-color: #bbb;">
        <h2>
            YOUR CART..
            <span class="price" style="color: red;">
                <i class="fa fa-shopping-cart"></i>
            </span>
            <br />
            <br />
            <p><span class="price">$...</span></p>
            <p><span class="price">$...</span></p>
            <p><span class="price">$...</span></p>
            <p><span class="price">$...</span></p>
            <p>
                Total <span class="price" style="color: black;"><b>$...</b></span>
            </p>
        </h2>
        <form>
            <input type="submit" value="Continue to checkout" class="btn" style="color: blue;" />
        </form>
    </div>
</div>
<div class="footer">
    <h2>Footer</h2>
</div>

{{!-- <div class="text-center">
    <div class="row">
        <div class="col-md-4">
            <!--items for sale-->
            {{> products}}
            {{#each data}}
                {{this.dataValues.name}}
            {{/each}}
        </div>
        <div class="col-md-4">
            <!--Your cart-->
            {{> cart}}
        </div>
            <div class="col-md-4">
        <!--Payment options-->
        {{> purchase}}
    </div>
  </div>
</div> --}}