<button onclick="document.getElementById('id01').style.display='block'" class="log" style="width: auto;">
    Login
</button>

<div id="id01" class="modal">
    <form class="modal-content animate" action="/action_page.php" method="post">
        <div class="imgcontainer">
            <label for="uname"><b>Username</b></label>
            <input type="text" placeholder="Enter Username" name="uname" required />

            <label for="psw"><b>Password</b></label>
            <input type="password" placeholder="Enter Password" name="psw" required />

            <button type="submit">Login</button>
            <label>
                <input type="checkbox" checked="checked" name="remember" /> Remember
                me
            </label>
        </div>

        <div class="container" style="background-color: #f1f1f1;">
            <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">
                Cancel
            </button>
            <span class="psw">Forgot <a href="#">password?</a></span>
        </div>
    </form>
</div>

<div id="myDIV" class="header">
    <h2 style="margin: 5px;">My shoe shopping list</h2>
    <input type="text" id="myInput" placeholder="Add an item..." />
    <span onclick="newElement()" class="addBtn">Add</span>
</div>

<div class="container">
    <div class="row">
        <div class="col-xs-4">
            <div class="item1">
                <ul id="myUL"></ul>
                {{> products}}
            </div>
        </div>
        <div class="col-xs-8">
            <div class="item3">
                <div class="container">
                    <h4>
                        Cart
                        <span class="price red">
                            <i class="fa fa-shopping-cart"></i>
                            <b></b>
                        </span>
                        {{> cart}}
                    </h4>


                    <form>
                        <input type="submit" value="Continue to checkout" class="btn" style="color: blue;">
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>

<div class="item4">
    <form class="example" action="" style="margin: auto; max-width: 300px;">
        <input type="text" placeholder="Search.." name="search2" />
        <button type="submit"><i class="fa fa-search"></i></button>
    </form>
</div>



{{!-- <div class="text-center">
    <div class="row">
        <div class="col-md-4">
            <!--items for sale-->
            {{> products}}
        </div>
        <div class="col-md-4">
            <!--Your cart-->
            {{> cart}}
        </div>
            <div class="col-md-4">
        <!--Payment options-->
        {{> purchase}}
    </div>
  </div>
</div> --}}

{{!-- {{#each data}}
    {{this.dataValues.name}}
{{/each}} --}}