<div class="container text-center">

    <div id="myDIV" class="header">
        <h2 style="margin: 5px;">My shoe shopping list</h2>
        <input type="text" id="myInput" placeholder="Add an item..." />
        <span onclick="newElement()" class="addBtn">Add</span>
    </div>

    <ul id="myUL"></ul>

    {{!-- <div class="row">
        <div class="col-md-6 text-center">
            <h3>SHOP</h3>
            <ul class=>
                {{#each}}
                <li>
                    {{/each}}
                </li>
            </ul>
        </div> --}}




</div>