<div class="text-center">
    <div class="row">
        <div class="col-md-4">
            <!--items for sale-->
            {{> products}}
        </div>
        <div class="col-md-4">
            <!--Your cart-->
            {{> cart}}
        </div>
            <div class="col-md-4">
        <!--Payment options-->
        {{> purchase}}
    </div>
    </div>
</div>


